{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <h1 class="uk-heading-line"><span>Experiments</span></h1>
    {% for experiment in experiments %}
        <div uk-grid>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-card-title">
                            <h3>{{ experiment.name }}</h3>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>{{ experiment.description|markdown }}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-button uk-button-default uk-button-primary uk-align-center" href="/experiment/{{ experiment.path }}">View</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block includes %}
    <!-- js includes -->
    <script type="text/javascript">
        var lastRequestUri = '{{lastRequestUri}}';
    </script>
{% endblock %}
